.cart_right{
    display: inline-block;
    width: 50%;
    text-align: right;
    font-size: 14px;
}
.cart_head{
    width: 100%;
    font-size: 0px
}
.cart_left{
    display: inline-block;
    width: 50%;
}
.cart_right >p{
    display: inline-block;
    border-right: 2px solid #000;
    padding: 0px 10px;
    font-weight: bold;
}
.cart_right >span{
    display: inline-block;
    padding: 0px 10px;
    font-weight: bold;
}
.cart_mj{
    border-bottom: 1px solid #ccc;
    padding: 15px 0px;
    box-shadow: 0 4px 15px 0 rgba(149, 149, 149, 0.5);
}
/* banner css start here */
.text_cart{
    font-size: 0px ;
    position: relative;
    width: 100%;
}
.text_cart >p{
    display: inline-block;
    width: 50%;
    font-size: 14px;
}
.cart_head_bann{
    padding: 18px 0px;
    width: 100%;
    font-size: 0px;
}
.cart_logo_mj >span >img{
    max-width: 130px;
    max-height: 180px;
    display: block;
}
.text_cart >span{
    display: inline-block;
    text-align: right;
    width: 50%;
    font-size: 14px;
 
}
.cart_left_ban{
    border-right: 2px solid #ccc;
 
  font-size: 14px ;
  position: relative;
  padding: 0px 32px 0px 0px;
  vertical-align: top;
    width: 75%;
    display: inline-block;
}

.cart_table{
    padding: 18px 0px 0px 0px;
    
}
table{
    border-collapse: collapse;
   width: 100%;
}
.table_cart {
  border: 1px solid #ccc;
  border: none;
}
.td_data{
    border-bottom: 1px solid #ccc;
}
.td_data1{
  padding: 0px 0px 0px 0px;
}
.table_cart >th{
    padding: 16px 18px 18px 10px;
    text-align: left;
    background-color:  #f7f7f9;
    color: #272b3f;
}
.td_data >td{
    padding-top: 20px;
}
.td_data1 >td{
    padding-top: 20px;
}
.cart_logo_mj{
    display: inline-block;
  
}
.mj_cart_text{
    display: inline-block;
    vertical-align: top;
}
.cart_text{
    display: block;
    padding-top: 8px;
}
.cart_list >li{
    display: inline-block;
}
.cart_remove >li{
    display: inline-block;
}
.cart_box{
    border: 1px solid #ccc;
    height: 35px;
    width: 75px;
}

.mj_cart_text{
    padding: 0px 0px 0px 26px;
}
.mj_cart_text >p{
    padding: 0px 0px 9px 0px;
    font-size: 14px;
    color: #272b3f;
}
.mj_cart_code {
    padding: 9px 0px 10px 0px;
    width: 100%;
    font-size: 0px;
}
.mj_cart_code >p >b{
    padding: 3px 0px 3px 0px;
    display: inline-block;
    width: 50%;
    font-size: 14px;
    color: #858585;
}
.mj_cart_code >p >small{
    display: inline-block;
    width: 50%;
    font-size: 14px;
     color: #858585;
}
.cart_list >li{
    border-right: 2px solid#858585;
    padding: 0px 10px 0px 0px;
}
.cart_list >li:last-child{
    border-right: 0px;
}
.cart_list >li >p >small{
    color: #858585;
}
.cart_list{
    padding: 10px 0px 23px 0px;
}
.cart_remove >li{
    padding: 0px 25px 0px 0px;
}
.cart_remove >li >span{
    font-size: 20px;
}
.cart_remove{
    padding: 23px 0px 28px 0px;
}
.cart_remove >li >span{
    display: inline-block;
    padding: 0px 10px 0px 0px;
    vertical-align: middle;
}
.cart_remove >li >p{
    display: inline-block;
    vertical-align: middle;
}
.cart_update{
    vertical-align: top;
}
.cart_qty >p{
    color:  #4095d6;
    padding-top: 6px;
}
.cart_amount{
    vertical-align: top;
    padding: 0px 0px 0px 20px;
}
.amount >p{
    color: #272b3f;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
/* cart right css */
.cart_right_ban{
    position: relative;
    right: 0;
    vertical-align: top;
    width: 25%;
    display: inline-block;
    font-size: 14px;
   padding: 45px 0px 0px 24px;
}
.cart_right_head >h1{
    font-size: 22px;
    color: #272b3f;
}
.cart_right_head >button{
    border: none;
    border: 1px solid #ccc;
    padding: 15px 20px;
    width: 100%;
    background-color: #fff;
    font-size: 14px;
    margin: 15px 0px 20px 0px;
    font-weight: bold;
    cursor: pointer;
}
.cart_right_text{
    width: 100%;
    font-size: 0px;
}
.cart_right_text >p >span{
    width: 50%;
    display: inline-block;
    font-size: 16px;
    color: #828282;
    vertical-align: middle;
}
.cart_right_text >p >b{
    width: 50%;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    text-align: right;
}
.cart_right_text{
    border-bottom: 1px solid #ccc;
    padding: 0px 0px 20px 0px;
}
.cart_right_text >p{
    padding: 25px 0px 0px 0px;
}
.cart_order_btn >button{
    border: none;
    border: 1px solid #ccc;
    background-color: #20cc94;
    color: #fff;
    padding: 13px 0px;
    width: 100%;
    font-weight: bold;
    border: none;
    cursor: pointer;
    height: 45px;
}
.cart_order_btn{
    padding-top: 21px;
}
